allow cameraserver sysfs_camera:dir search;
allow cameraserver sysfs_camera:file { open read };
allow cameraserver system_data_file:sock_file w_file_perms;
allow cameraserver vendor_file:file execmod;
allow cameraserver mpctl_socket:dir search;
