allow mpdecision socket_device:dir rw_dir_perms;
allow mpdecision socket_device:sock_file { write create setattr };
allow mpdecision thermal_socket:sock_file write;
allow mpdecision sysfs_runtime_status:file read;
allow mpdecision thermal-engine:unix_stream_socket connectto;
allowxperm mpdecision self:socket ioctl msm_sock_ipc_ioctls;
# >neverallow< allow mpdecision self:capability sys_ptrace;
